apiVersion: kubeadm.k8s.io/v1beta4
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: ${ec2_instances["controlplane"]["controlplane-0"].private_ip}
  bindPort: 6443
nodeRegistration:
  name: ${ec2_instances["controlplane"]["controlplane-0"].private_dns}
  kubeletExtraArgs:
  - name: cgroup-driver
    value: systemd
  - name: pod-infra-container-image
    value: registry.k8s.io/pause:3.10
  - name: image-credential-provider-bin-dir
    value: /usr/local/bin
  - name: image-credential-provider-config
    value: /etc/kubernetes/credential-provider-config.yaml
  - name: node-ip
    value: ${ec2_instances["controlplane"]["controlplane-0"].private_ip}

---
apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration
clusterName: kubernetes
controlPlaneEndpoint: "${ec2_instances["controlplane"]["controlplane-0"].private_ip}:6443" 
networking:
  serviceSubnet: 10.96.0.0/12 
  podSubnet: 10.0.0.0/16

apiServer:
  certSANs:
    - "localhost"
    - "127.0.0.1"
    - "${ec2_instances["controlplane"]["controlplane-0"].private_ip}"

    
scheduler: {}
dns: {}