apiVersion: kubelet.config.k8s.io/v1
kind: CredentialProviderConfig
providers:
  - name: credential-provider
    matchImages:
      - "*.dkr.ecr.{{ ecr_region }}.amazonaws.com"
    defaultCacheDuration: "12h"
    apiVersion: credentialprovider.kubelet.k8s.io/v1
    env:
      - name: AWS_REGION
        value: {{ ecr_region }}
    args: []